*~
*.pyc
*.pyo
build*/

# Inherited ignores
*.a
*.o
*.lo
*.la
*.so
*.gcno
*.gcda
*.gcov
*.lcov
*.log
*.trs
*~
.*.swp
.deps/
.libs/
Makefile
Makefile.in

# Top dir ignores
autom4te.cache/
build-aux/
build-tree/
ABOUT-NLS
ChangeLog
INSTALL
configure
config.*
libtool
aclocal.m4
stamp-h1

.debhelper
debhelper-build-stamp
debian/files
debian/*.debhelper
debian/*.substvars
debian/gr-flex6k
.idea/
